* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

header{
    background-color: #5f27cd;
    padding: 16px 0;
    color: #fff;
    display: flex;
    border-bottom: 16px solid #341f97;
    justify-content: center; /* alinha o texto no centro*/
    text-transform: uppercase;  /*transforma o texto em maiuscula*/
    font-style: italic;
}

header button{
    margin-left: 16px;
}

form{
    background-color: #c8d6e5;
    padding: 24px 0;
    text-align: center;
    display: none;
}

form h2{
    margin-bottom: 16px;
}

input,
button{
    padding: 8px;
}

button{
    background-color: #009432;
    border: none;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    cursor: pointer;
}

#cancelar{
    background-color: red;
}

ul{
    display: flex; /* display flex serve para  que um elemento fique ao lado do outro*/
    flex-wrap: wrap;/* para qwue quando chegar o limite maximo da linha criar outra*/
}

ul li{
    max-width: 25%;
    list-style: none; /* remover as marcaçoes de lista ( bolinhas)*/
    position: relative;
    max-height: 172px;
    overflow-y: hidden;
}

ul li img{
    width: 100%;
}

.overlay-imag-link{
    padding: 16px;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    transition: all ease 2s;
}

.overlay-imag-link a{
    color: #fff;
    text-decoration: none;
}

ul li:hover .overlay-imag-link{
    opacity: 1;
}

